.Recommend-Button {
  background-color: #4B4237;
  color: white;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
}
.Recommend-Button:hover {
  background-color: #D5A021;
}

.Card-List {
  display: flex;
  padding: 3rem;
  justify-content: center;
}

.Card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  align-items: center;

  border-radius: 16px;
  background: #736B60;
  box-shadow: -1rem 0 3rem #000;

  /* Any value changes which occur on Card takes .2s to occur */
  transition: .2s;
}

.Icon {
  margin: 1.5rem;
  height: 5rem;
  width: 5rem;
  fill: #4B4237;
}

.Icon:hover {
  fill: #D5A021;
  cursor: pointer;
}

.Card-Img {
  height: 150px;
  width: 150px;
  padding: 1.5rem;
}

/* On card hover have the selected card shift upwards slgihtly */
.Card:hover {
  transform: translateY(-1rem);
}

/* On card hover select all other Cards and shift them to make selected card fully viewable */
.Card:hover~.Card {
  transform: translateX(1rem);
}

/* Move all non-first Cards to overlap with the first card */
.Card:not(:first-child) {
  margin-left: -1rem;
}