.Playing-Container {
  justify-content: center;
  padding: 2rem;
  display: flex;
}

.Playing-Card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #736B60;
  box-shadow: -1rem 0 3rem #000;
}

.Playing-Img {
  padding: 1.5rem;
  height: 150px;
}

.question-icon {
  margin: 1.5rem;
  height: 2rem;
  width: 2rem;
  fill: #4B4237;
  align-self: flex-end;
  margin-top: -5rem;
  margin-right: 0rem;
}

.question-icon:hover {
  fill: #D5A021;
  cursor: pointer;
}